/*©Andy-Lonly*/
@charset "utf-8";
.formxd {
	height: 4cm;
	width: 10cm;
	text-align:center;
	border:10px solid #dedede;
	border-radius:10px 13px 4px 17px;
	box-shadow:5px 5ox 8px #06c;
	background:rgba(225,225,225,0.64);
	top: 10%;
	position: relative;
	left: 27%;
}
.forminput {box-shadow:inset 0px 0px 7px #ACACAC;
border-radius:6px;
}
.formbutton {border-radius:8px;
box-shadow:inset 0px 0px 2px #ACACAC
}
p{
	padding:7px;
	margin:0;
	font-size:44px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	color:#999;
	text-shadow: 1px 1px white,1px 1px #333;
}
